<body>
    <div class="middlePageUserhome">
      <div class="page-header">
        <h1 class="logo">
          MARVEL Contest of Champions <small></small>
        </h1>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-4">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">Classes
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Skill</a></li>
                      <li><a href="#">Science</a></li>
                      <li><a href="#">Mystic</a></li>
                      <li><a href="#">Cosmic</a></li>
                      <li><a href="#">Tech</a></li>
                      <li><a href="#">Mutant</a></li>
                    </ul>
                  </div>
            </div>
            <div class="col-sm-4">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">Inventory
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Catalyst</a></li>
                      <li><a href="#">Items</a></li>
                      <li><a href="#">ISO's</a></li>
                    </ul>
                  </div>
            </div>
            <div class="col-sm-4">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">Masteries
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Attack</a></li>
                      <li><a href="#">Defence</a></li>
                      <li><a href="#">Utility</a></li>
                    </ul>
                  </div>
            </div>
            <div class="col-sm-8">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">Have a Kabam account
                        <span class="caret"></span></button>
                    <div class="dropdown-menu">
                        <form class="px-4 py-3">
                        <div class="form-group-kabam">
                            <label for="exampleDropdownFormEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                        </div>
                        <div class="form-group-kabam">
                            <label for="exampleDropdownFormPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                        </div>
                        <div class="form-group-kabam">
                            <label class="form-check-label" for="dropdownCheck" style="margin-right:6px;">Remember me </label>  <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-right:24px;margin-left:24px;">Sign in</button>
                        <button type="submit" class="btn btn-primary" style="margin-right:24px;margin-left:24px;">Sign Up</button>
                        </form>
                    </div>
                </div>
              </div>
          </div>
        </div>
        <div class="panel-body">
            <div class="row">
               <div class="col-md-7" style="height: 600px;">
                <form class="form-horizontal">
                    <fieldset>
                       
                    </fieldset>
                </form>
              </div>
            </div>
          </div>
      </div>
      <p>
        <a href="https://playcontestofchampions.com/">About</a> · Marvel contest of champions
      </p>
    </div>
  </body>